body{
	background-color:black;
	background-image:url('binary.jpg'); /* circuit.png */
	background-repeat:repeat-x /* repeat */
}
#centerdiv{
	width:800px;
	height:500px
}
.centerd{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto
}