/* HTML */

body {background-color:#3BBAF5; color:#111;}

a {color:#3BBAF5;}
a:hover {color:#075379;}

h2 {border-bottom:1px solid #DAE3AD;}
h3 {color:#3BBAF5;}

table.table-style01 th {background:#CACED5 url("5/table-style01.gif") 0 0 repeat-x; color:#075379;}
table.table-style01 th, table.table-style01 td {border:1px solid #CACED5;}
table.table-style01 tr.bg td {background:#F1F2F3;}

/* Layout */

#header {background-color:#075379;}

#logo {color:#FFF;}
#logo span {color:#000;}
#logo a {color:#FFF;}

ul#tabs li a {background-color:#111; color:#FFF;}
ul#tabs li#tabs-active5 a {font-weight:bold; text-decoration:none; background:#FFF; color:#3BBAF5;}
ul#tabs li a:hover {background:#3BBAF5;}

#search #search-input {border:1px solid #FFF;}
#search #search-submit {border:1px solid #075379; background:#075379; color:#FFF;}

#content {background:#FFF;}

#aside {background:#FFF;}
#aside .title {background-color:#F4F5F6; color:#075379;}

.nav li a {color:#5E6D6D;}
.nav a:hover {color:#3BBAF5;} 

#footer {background-color:#292929; color:#FFF;}
#footer a {color:#FFF;}
#footer a:hover {color:#B3E4FA;}
    
/* Page: Homepage */

#perex-title {border-bottom:1px solid #CACED5; background-color:#E9EBEC; color:#FF1F42;}
#perex {background:#F1F2F3; color:#053249;}
#perex-title a, #perex a {color:#075379;}
#perex-title a:hover, #perex a:hover {color:#000;}

/* Extras */
body {background-image:url("5/bg.gif")}
ul.ul-style01 li {background-image:url("5/ul-style01.gif")}
ul.ul-style01 ul li {background-image:url("5/ul-style01-sub.gif")}
#main {background-image:url("5/main.gif")}
#main-in {background-image:url("5/main-in.gif")}
#header {background-image:url("5/header.gif")}
ul#tabs li a {background-image:url("5/tabs-link.gif")}
#aside .title {background-image:url("5/aside-title.gif")}
.nav li a {background-image:url("5/nav-link.gif")}
#footer {background-image:url("5/footer.gif")}
#perex-title {background-image:url("5/perex-title.gif")}